.CalculateBut {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 3px;
    -fx-border-color: #008CBA;
    -fx-border-style: solid;


}

.CalculateBut:hover{
    -fx-background-color: #23272a;
    -fx-text-fill: white;
}