.getStarted {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 3px;
    -fx-border-color: #008CBA;
    -fx-border-style: solid;
    transition-duration: 0.4s;

}

.getStarted:hover{
    -fx-background-color: #008CBA;
    -fx-text-fill: white;
}